$themeColor:#ab1e05;
.admin-nav-bar{
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    .nav-list{
        display: flex;
        .nav-item{
            margin: 0 10px;
            color: $themeColor;
            text-decoration: none;
            font-weight: bold;
            font-size: 110%;
            position: relative;
        }
        .nav-item::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 3px;
            background-color: $themeColor;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.2s ease-in-out;
        }
        .nav-item:hover::before{
            transform: scaleX(1);
        }
        .active{
            position: relative;
        }
        .active::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 3px;
            background-color: $themeColor;
        }
    }
}

