html,
body,
#root {
	position: relative;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ab1e05;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #921702;
}

body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth !important;
}

html p {
	margin: 0;
}

.bg-theme {
	background-color: #ab1e05 !important;
}

.txt-theme {
	color: #ab1e05 !important;
}

.w-100 {
	width: 100%;
}

.home-swiper {
	width: 100%;
	height: 500px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.size-full {
	height: 100%;
	width: 100%;
}

.size-full-width {
	width: 100%;
}

.size-full-height {
	height: 100%;
}

.lr-0 {
	left: 0;
	right: 0;
}

.z-index-0 {
	z-index: 0;
}

.z-index-1 {
	z-index: 100;
}

.text-justify {
	text-align: justify;
}

.service-card-width {
	width: 340px;
}

.flex-align-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-header {
	width: 100%;
	height: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-header h1 {
	color: white;
	font-weight: 800;
	font-size: 50px;
}

.about-page .about-header-inner {
	width: 1000px;
	max-width: 1000px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about-page .our-story {
	padding: 100px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.about-page .our-story img {
	width: 50%;
	height: auto;
}

.about-page .our-story .story {
	width: 50%;
	padding: 10px 30px;
}

.about-page .our-story .story h2 {
	margin-bottom: 20px;
}

.about-page .our-story .story p {
	margin-bottom: 20px;
}

.about-page .our-focus {
	padding: 100px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.about-page .our-focus .left,
.about-page .our-focus .right {
	width: 50%;
	height: auto;
	padding: 20px 10px;
}

.about-page .our-focus .left h3,
.about-page .our-focus .right h3 {
	margin-bottom: 30px;
}

.about-page .our-focus .left .focus-line,
.about-page .our-focus .right .focus-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
}

.about-page .our-focus .left .focus-line .number,
.about-page .our-focus .right .focus-line .number {
	width: 50px;
	height: 50px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #ab1e05;
	font-size: 25px;
}

.about-page .our-focus .left .focus-line .focus-data,
.about-page .our-focus .right .focus-line .focus-data {
	width: calc(100% - 50px);
	padding: 0 20px;
}

.about-page .our-focus .left .focus-line .focus-data h4,
.about-page .our-focus .right .focus-line .focus-data h4 {
	font-size: 20px;
}

.about-page .our-focus .left .icons-line,
.about-page .our-focus .right .icons-line {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.about-page .our-focus .left .icons-line .icon-block,
.about-page .our-focus .right .icons-line .icon-block {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.about-page .our-focus .left .icons-line .icon-block h4,
.about-page .our-focus .right .icons-line .icon-block h4 {
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}

.about-page .our-focus .left .icons-line .icon-block i,
.about-page .our-focus .right .icons-line .icon-block i {
	color: #ab1e05;
	font-size: 60px;
	padding: 30px;
}

.footer-logo-moto .logo-moto {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-logo-moto img {
	height: 50px;
	width: auto;
	margin: 10px;
}

.footer-logo-moto h6 {
	max-width: 300px;
	width: auto;
	text-align: left !important;
	padding: 0 10px;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.footer-details {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.footer-details .footer-link {
	color: #959595;
	text-decoration: none;
	padding: 10px;
}

.bottom-line {
	width: 100%;
	min-height: 40px;
	background-color: #ab1e05;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 10px;
}

.bottom-line a {
	color: white;
	font-weight: 1000;
	text-decoration: none;
}

.bottom-line a:hover {
	color: #c9c9c9;
}

.bottom-line div {
	padding: 0 5px;
}

.new-nav-bar {
	background-color: #ab1e05;
	width: 100%;
	height: 80px;
	z-index: 1000000 !important;
}

.new-nav-bar .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.new-nav-bar .container .nav-item-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.new-nav-bar .container .nav-item-container .burger {
	display: none;
	padding: 10px;
	cursor: pointer;
	margin-right: 20px;
}

.new-nav-bar .container .nav-item-container .burger .bar {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px 0;
}

.new-nav-bar .container .nav-item-container .logo {
	height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.new-nav-bar .container .nav-item-container .logo img {
	height: 60px;
	width: auto;
}

.new-nav-bar .container .nav-item-container .all-nav-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 80px;
	list-style: none;
	padding: 0 20px !important;
	margin: 0 !important;
	z-index: 10000 !important;
}

.new-nav-bar .container .nav-item-container .all-nav-items .nav-item {
	color: white;
	text-decoration: none;
	padding: 15px 5px;
}

.new-nav-bar .container .nav-profile-container .profile-icon {
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #959595;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2vh;
	font-weight: 600;
}

.new-nav-bar .container .nav-profile-container .notification-container {
	cursor: pointer;
	position: relative;
}

.new-nav-bar .container .nav-profile-container .notification-container span {
	position: absolute;
	min-width: 20px;
	height: 20px;
	background-color: #767676;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 10px;
	top: 0;
	right: 10px;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.service-card-width {
		width: 80vw;
	}
	.our-story img {
		width: 100% !important;
		height: auto;
	}
	.our-story .story {
		width: 100% !important;
		padding: 10px 30px;
	}
	.our-focus .left,
	.our-focus .right {
		width: 100% !important;
		height: auto;
	}
	.footer-details {
		width: 100% !important;
	}
	.footer-details .footer-link {
		padding: 5px;
	}
}

.profile-popup {
	z-index: 10000 !important;
	position: absolute;
	right: 0;
	top: 80px;
}

.profile-popup .profile-popup-container {
	width: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	list-style: none;
	position: relative;
}

.profile-popup .profile-popup-container .profile-popup-link {
	width: 100%;
	height: 35px;
	background-color: #ab1e05;
	color: white;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile-popup .profile-popup-container .profile-popup-link:hover {
	background-color: #841d0b;
}

@media only screen and (max-width: 800px) {
	.nav-item-container .burger {
		display: block !important;
		position: relative;
		width: 50px;
		height: 50px;
	}
	.nav-item-container .burger .bar {
		width: 30px;
		height: 3px;
		background-color: white;
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
	.nav-item-container .bugger-clicked .bar {
		margin: 0 !important;
		position: absolute;
		left: 20%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.nav-item-container .bugger-clicked .b1 {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.nav-item-container .bugger-clicked .b2 {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.nav-item-container .bugger-clicked .b3 {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.nav-item-container .all-nav-items {
		position: absolute;
		left: 0;
		right: 0;
		top: 80px;
		width: 100vw;
		background-color: #ab1e05;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 80px;
		list-style: none;
		padding: 0 20px !important;
		margin: 0 !important;
	}
	.nav-item-container .all-nav-items .nav-item {
		width: 100vw;
		color: white;
		text-decoration: none;
		padding: 15px 5px;
		background-color: #ab1e05;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	.nav-item-container .all-nav-items .nav-item:hover {
		background-color: #841d0b;
	}
}

.about-line {
	position: absolute;
	left: 0;
	right: 0;
	height: 20px;
	width: 100%;
}

.two-side-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 100px 0;
}

.two-side-container .half {
	width: 49%;
}

.two-side-container .half img {
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

.two-side-container .half h3 {
	padding: 20px 0 !important;
}

@media only screen and (max-width: 800px) {
	.two-side-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.two-side-container .half {
		width: 100%;
		padding: 20px 0;
	}
}

.products-and-equipments .products-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.products-and-equipments .products-container .product-box {
	width: 32%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 20px calc(4% / 6);
	padding: 10px;
}

.products-and-equipments .products-container .product-box .img {
	width: 100%;
	height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.products-and-equipments .products-container .product-box .img img {
	height: 300px;
	width: auto;
}

.products-and-equipments .products-container .product-box p {
	text-align: center;
}

.products-and-equipments .products-container .product-box a {
	color: #ab1e05;
	text-decoration: none;
}

.products-and-equipments .products-container .product-box a:hover {
	color: #ff2802;
}

@media only screen and (max-width: 800px) {
	.products-and-equipments .products-container {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.products-and-equipments .products-container .product-box {
		width: 100%;
		margin: 20px calc(4% / 6);
		padding: 10px;
	}
	.products-and-equipments .products-container .product-box .img {
		width: 100%;
		height: 300px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.products-and-equipments .products-container .product-box .img img {
		height: 300px;
		width: auto;
	}
}

.equipments-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.equipments-container .eq-img {
	width: 15vw;
	height: 15vw;
	margin: 10px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}

.equipments-container .eq-img:hover {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

@media only screen and (max-width: 800px) {
	.equipments-container {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.equipments-container .eq-img {
		width: 40vw;
		height: 40vw;
	}
}

.preview-container {
	position: fixed;
	z-index: 100000 !important;
}

.preview-container .preview-bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.preview-container .preview-img {
	z-index: 1000001 !important;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.preview-container .preview-img .img {
	z-index: 2000000 !important;
	max-width: 90vw;
	max-height: 90vh;
	width: 90vw;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.preview-container .preview-close {
	z-index: 1000001 !important;
	position: fixed;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.preview-container .preview-close i {
	color: white;
	font-size: 50px;
}

.contact-us .contacts-card-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.contact-us .contacts-card-container .contact-card {
	width: 30%;
	height: auto;
	-webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 100px 20px;
	border-radius: 10px;
}

.contact-us .contacts-card-container .contact-card i {
	font-size: 80px;
	color: #ab1e05;
	margin-bottom: 40px;
}

.contact-us .map-container {
	width: 100%;
	height: 50vh;
}

.contact-us .map-container .location-in-map {
	width: 100% !important;
	height: 50vh !important;
}

.contact-us .contact-form input {
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	outline: none;
	padding: 0 20px;
	margin: 10px 0;
}

.contact-us .contact-form .name-email {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.contact-us .contact-form .name-email input {
	width: 48%;
}

.contact-us .contact-form textarea {
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	outline: none;
	padding: 20px;
	margin: 10px 0;
	resize: horizontal;
}

.contact-us .contact-form .send-btn {
	width: 150px;
	background-color: #ab1e05;
	color: white;
	border-radius: 0;
	font-weight: 300;
	height: 40px;
	font-size: 16px;
}

@media only screen and (max-width: 800px) {
	.contact-us .contacts-card-container .contact-card {
		width: 100%;
		margin: 20px 0;
	}
	.contact-us .contact-form .name-email input {
		width: 100%;
	}
	.contact-us .contact-form .send-btn {
		width: 100% !important;
		height: 50px !important;
	}
}

.login-page .login-card-container {
	width: 100%;
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.login-page .login-card-container .login-card {
	max-width: 400px;
	width: 400px;
	height: 500px;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.register-page .register-container {
	width: 100%;
	min-height: 100vh;
	padding: 10vh 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.register-page .register-container .register-card {
	width: 800px;
	min-height: 80vh;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.register-page .register-container .register-card .register-form {
	width: 100%;
	padding: 20px;
}

.register-page .register-container .register-card .register-form .upload-label {
	padding: 10px 15px;
	border: 2px solid #ab1e05;
	color: #ab1e05;
	margin: 10px 0;
	cursor: pointer;
}

.register-page .register-container .register-card .register-form .upload-label:hover {
	border: 2px solid white;
	background-color: #ab1e05;
	color: white;
}

.register-page .register-container .register-card .register-form .input-file {
	display: none;
}

.register-page .register-container .register-card .register-form .upload-document-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.register-page .register-container .register-card .register-form .upload-document-container .upload-document-box {
	width: 48%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.register-page .register-container .register-card .register-form .upload-document-container .upload-document-box label {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media only screen and (max-width: 800px) {
	.upload-document-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.upload-document-container .upload-document-box {
		width: 100% !important;
	}
}
/*# sourceMappingURL=App.css.map */
